<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"
>

    <!--数据源配置-->
    <bean id="pooledDAtaSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <!--驱动-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!-- 数据库地址 -->
        <property name="url"
                  value="jdbc:mysql://localhost:3306/mmorpg?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;serverTimezone=UTC"/>
        <!-- 用户名 -->
        <property name="username" value="root"/>
        <!-- 密码 -->
        <property name="password" value="password"/>
        <!-- 最大连接池数量 -->
        <property name="maxActive" value="15"/>
        <!-- 初始化物理连接个数 -->
        <property name="initialSize" value="10"/>
        <!-- 最小连接池数量 -->
        <property name="minIdle" value="5"/>

    </bean>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--指定Mybatis全局配置文件路径-->
<!--        <property name="configLocation" value="classpath:mybatis/generatorConfig.xml"/>-->
        <property name="dataSource" ref="pooledDAtaSource"/>
        <!--指定mybatis的mapper文件路径，这里进行了路径修改-->
        <property name="mapperLocations" value="classpath*:/mapper/*Mapper.xml"/>
    </bean>


    <!-- 自动扫描了所有的XxxxMapper.xml对应的mapper接口文件 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.database.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <context:component-scan base-package="com.*"/>
    <!--<aop:aspectj-autoproxy/>-->

</beans>



















